@model PagedList.IPagedList<QLSV.Models.Lop>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQLSV.cshtml";
}
<link href="~/Content/using.css" rel="stylesheet">
<link href="~/Content/phantrang.css" rel="stylesheet">
<style>
    .fi {
        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
        box-sizing: border-box;
        color: black;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        padding: 14px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .timkhoa {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tim-1 {
        margin: 0 10px;
        width: 30%;
    }

    .text-end {
        display: flex;
        align-items: center;
    }

    .form-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .nutbam {
        margin: 0 10px;
    }

    .new {
        display: flex;
        align-items: center;
    }

    .antuong-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .text-end-1 .thep {
        margin: 0 10px;
    }

    .thep p {
        position: relative;
    }

    .nutbam--1 {
        background-color: #37497e;
    }

    .xuatfile {
        border-radius: 10px;
        background-color: #fff;
        padding: 10px 16px;
        text-align: center;
        box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        justify-content: center;
    }

    .header-content {
        display: flex;
        align-items: center;
    }

    .nut-xuat-file {
        float: right;
    }
    select {
        border: none;
        outline: none;
        background-color: transparent;
        list-style: none;
        text-align: center;
        font-family: Cambria;
        font-weight: bold;
        color: aliceblue;
    }

    option {
        color: black;
    }
</style>

<div class="card">

    <div class="card-header mb-3">

        <div class="form-wrapper">
            <div class="header-content">
                <strong style="font-size:30px;" class="text-uppercase">Danh sách lớp</strong>
            </div>
            <div class="text-end">
                <div>
                    <button id="btnthongke" class="nutbam nutbam--1">Thống kê</button>
                </div>
                <div>
                    <a href="@Url.Action("Trash", "Lops")" class="nutbam nutbam--1">
                        Thùng rác
                    </a>
                </div>
                <div>
                    <a class="nutbam nutbam--1" id="them" data-bs-toggle="modal" data-bs-target="#mdlExam">
                        Thêm
                    </a>
                </div>
                <div class="xuatfile">
                    @using (Html.BeginForm("XuatFile", "Lops", FormMethod.Post, htmlAttributes: new { @class = "antuong-content" }))
                    {

                        <div class="d-flex">
                            <select class="form-select" id="StudentGender" name="file">
                                <option value="1">Excel</option>
                                <option value="2">Word</option>
                                <option value="3">PDF</option>
                            </select>
                        </div>
                        <div><button class="nutbam nutbam--1 nut-xuat-file">Xuất file</button></div>
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="d-flex mb-0" style="align-items:center;justify-content:space-between ">
        <div class="timkhoa mb-0">
            <div class="input-group d-flex">
                <div class="form-outline">
                    <input id="search" type="search" class="form-control" placeholder="Nhập tên lớp để tìm kiếm" />
                </div>
                <div>
                    <button type="button" class="btn btn-primary" style="background-color: #37497e;">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
            @using (Html.BeginForm("TimDrop", "Lops", FormMethod.Post, new { @class = "form-a" }))
            {
                <div class="new">
                    <div class="nutbam nutbam--1">
                        @Html.DropDownList("MaNganh", "Tất cả")
                    </div>
                    <div><input type="submit" value="Tìm kiếm" class="nutbam nutbam--1" /></div>
                </div>
            }
        </div>


        @*<div class="timkhoa mb-0">

            <div class="tim-2">
                @using (Html.BeginForm("Import", "Lops", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-a" }))
                {
                    <div class="new">
                        <div>
                            <input type="file" name="file" class="fi" />
                        </div>
                        <div><input type="submit" value="Nhập file excel" class="nutbam nutbam--1" /></div>
                    </div>
                }

            </div>
        </div>*@
</div>

        <div class="card-body p-3">
            <table class="table table-bordered table-hover" id="result">
                <thead>
                    <tr>
                        <th class="text-center">Mã Lớp</th>
                        <th class="text-center">Tên Lớp</th>
                        <th class="text-center">Tên ngành</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="@item.MaLop">
                            <td>@item.MaLop</td>
                            <td>@item.TenLop</td>
                            <td>@item.Nganh.TenNganh</td>
                            <td>
                                <a id="sua" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#mdlExam">
                                    <i class="bi bi-brush"></i>
                                </a>
                                <a href="@Url.Action("DelTrash", new { id = item.MaLop})" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h5 id="view-bag">Số lượng lớp là: @ViewBag.SoLuong</h5>
            <table class="table table-bordered table-hover table-a" id="search-result" style="display:none">
                <thead>
                    <tr align='center'>
                        <th class="text-center">Mã lớp</th>
                        <th class="text-center">Tên lóp</th>
                        <th class="text-center">Tên ngành</th>
                        <th class="text-center">Sĩ số lớp</th>
                    </tr>
                </thead>
                <tbody id="main-data">
                </tbody>
            </table>
            <table class="table table-bordered table-hover table-a" id="thongke" style="display:none">
                <thead>
                    <tr align='center'>
                        <th class="text-center">Tên lớp</th>
                        <th class="text-center">Sĩ số lớp</th>
                    </tr>
                </thead>
                <tbody id="main-data-thongke">
                </tbody>
            </table>
        </div>
    </div>
    <a href="@Url.Action("Index", "Lops")">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

    </a>
    <script type="text/javascript">
$(document).on('click', '#sua', function () {
        var trid = $(this).closest('tr').attr('id');
        console.log(trid);
        getmalop(trid);
        $("#kiemtra").val(trid);
    $("#txtMaLop").attr('readonly', true);
    $('#txtSiSoLop').attr("readonly", true);
    });
    function getmalop (malop){
        $.ajax({
            url: "@Url.Action("Getdata1", "Lops")",
            type: "get", //pt get
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                id: malop   //truyền tham số có giá trị bằng id makhoa
            },
            success: function (data) {
                var q = jQuery.parseJSON(data); // ép về kiểu javascrip
                console.log(q);
                $('#txtMaLop').val(q[0]['MaLop']);// gán vulue cho ô input txt
                $('#txtTenLop').val(q[0]['TenLop']);
                $('#kiemtra1').val(q[0]['MaNganh']);
                $('#txtSiSoLop').val(q[0]['SiSoLop']);
                var nganh = $('#kiemtra1').val();
                LoadDropNganh(nganh);
            }
        });
    }
    function LoadDropNganh(nganh) {
        $.ajax({
            url: "@Url.Action("Getdata2", "Lops")",
            type: "get", //pt get
            dataType: "json",
            success: function (data) {
                // convert string to JS object
                var obj = JSON.parse(data);
                // lấy topic id đầu tiên gán cho txtTopicID
               //$('#giatrian').val(obj[0]['MaKhoa'])
                console.log(obj);
                $("#select").empty();
                if (nganh == "") {
                    for (var i = 0; i < obj.length; i++) {
                        let manganh = obj[i]["MaNganh"];
                        $("#select").append("<option value=" + manganh + " >"
                            + obj[i]["TenNganh"] + "</option>");
                    }
                } else {
                    for (var i = 0; i < obj.length; i++) {
                        let manganh = obj[i]["MaNganh"];
                        if (nganh == manganh) {
                            $("#select").append("<option value=" + manganh + " selected='selected'>"
                                + obj[i]["TenNganh"] + "</option>");
                        } else {
                            $("#select").append("<option value=" + manganh + ">"
                                + obj[i]["TenNganh"] + "</option>");
                        }
                    }
                }
            }
        });
    }
    $(document).on('click', '#them', function () {
        $('#txtMaLop').attr("readonly", false);
        $('#txtMaLop').val('');
        $('#txtTenLop').val('');
        $('#kiemtra').val('');
        var nganh= $('#kiemtra1').val();
        LoadDropNganh(nganh);
    });
    $(document).on('click', '#btnSubmit', function () {
        let makhoakiemtra = $('#kiemtra').val();
        let malop = $('#txtMaLop').val();// lấy giá trị của txtarea có id là txtTenChudDe gán cho biến tenchude
        let tenlop = $('#txtTenLop').val();
        let manganh = $('#select').val();
        console.log(malop);
        console.log(tenlop);
        console.log(manganh);
        console.log("id là", makhoakiemtra);
        if (malop.length == 0 || manganh.length == 0) {
            alert("Vui lòng nhập đầy đủ thông tin");
            return;
        }
        if (makhoakiemtra.length == 0) {
            $.ajax({
                url: '@Url.Action("AddData", "Lops")',
                type: 'post',
                data: {
                    ml: malop,
                    tl: tenlop,
                    mn: manganh,
                },
                success: function (data) {
                    alert(data);
                    location.reload();
                }
            });
        }
        else {
            $.ajax({
                url: '@Url.Action("EditData", "Lops")',
                type: 'post',
                data: {
                    ml: malop,
                    tl: tenlop,
                    mn: manganh,
                },
                success: function (data) {
                    alert(data);
                    location.reload();
                }
            });
        }
    });
    $(document).on('click', '#btnthongke', function () {

        thongke();
    });
    function thongke() {
        $.ajax({
             url: '@Url.Action("Getdatathongke", "Lops")',
            type: 'post',
            data: {
            },
            success: function (data) {
               var q = JSON.parse(data)
                var htmldata = createthongke(q)
                $("#result").css("display", "none");
                $("#thongke").css("display", "table");
                $("#view-bag").css("display", "none");
                $("#thea").css("display", "none");
                $("#main-data-thongke").html(htmldata);
            }
            });
    }
    function createthongke(data) {
        let rows = [];

        console.log(data);
        for (var i = 0; i < data.length; i++) {
            //let max = jQuery(".dname").find("tr td:eq(1)").val();
            let row = `<tr  class="dbname">
         <td  class="text-center"> ${data[i]["TenLop"]} </td>
         <td  class="text-center"> ${data[i]["SoLuong"]} </td>
        </tr>`;
            if (data[i]["TenLop"]) {
                rows.push(row);
            }
        }
        return rows;
    }
    $(document).ready(function () {
        var inputElement = document.querySelector("#search");
        console.log(inputElement);
        inputElement.oninput = function (e) {
            console.log(e.target.value);
            search(e.target.value);
        }
    });
    function search(keyword) {
        $.ajax({
             url: '@Url.Action("Getdata3", "Lops")',
            type: 'post',
            data: {
                id: keyword,
            },
            success: function (data) {
               var q = JSON.parse(data)
                var htmldata = create(q)
                if (keyword) {
                    $("#result").css("display", "none");
                    $("#search-result").css("display", "table");
                    $("#view-bag").css("display", "none");
                    $("#thea").css("display", "none");
                    $("#main-data").html(htmldata);
                    $(".pagination").css("display", "none");
                } else {
                    $("#result").css("display", "table");
                    $("#search-result").css("display", "none");
                    $("#view-bag").css("display", "flex");
                    $(".pagination").css("display", "flex");
                }
            }
            });
    }
    function create(data) {
        let rows = [];

        console.log(data);
        for (var i = 0; i < data.length; i++)
        {
            //let max = jQuery(".dname").find("tr td:eq(1)").val();
            let row = `<tr id="${data[i]["MaLop"]}" class="dbname">
         <td> ${data[i]["MaLop"]} </td>
         <td> ${data[i]["TenLop"]} </td>
        <td> ${data[i]["TenNganh"]} </td>
        <td ><a id="sua" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#mdlExam"><i class="bi bi-brush"></i> </a>
       <button  class="btn btn-danger" onclick="Xoa('${data[i]['MaLop']}')"> <i class="bi bi-trash-fill"></i></button></td>
        </tr>`;
 if (data[i]["MaLop"]) {
                rows.push(row);
            }
        }
        return rows;
    }
    function Xoa(id) {

        location = `/Lops/DelTrash/${id}`;
    }


    </script>
    <div class="modal" id="mdlExam">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="mdlExamLabel">Lớp</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="display: flex;flex-direction: column;align-items: center; justify-content:center">
                    <input type="hidden" id="kiemtra" value="">
                    <form>
                        <div class="form-group">

                            <label for="txaName" class="form-label" style="margin-bottom: 1px!important">Mã lớp</label>
                            <textarea style="width: 330px;" class="form-control" id="txtMaLop" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="txaName" class="form-label" style="margin-bottom: 1px!important">Tên lớp</label>
                            <textarea style="width: 330px;" class="form-control" id="txtTenLop" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="txaName" class="form-label" style="margin-bottom: 1px!important">Ngành</label>
                            <select class="form-select" id="select" aria-label="Default select example">
                            </select>
                            <input type="hidden" id="kiemtra" value="">
                            <input type="hidden" id="kiemtra1" value="">
                        </div>
                    </form>



                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <a class="nutbam nutbam--1" id="btnSubmit">Xác nhận</a>
                        <button class="nutbam nutbam--1" data-bs-dismiss="modal">Trở về</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
