@model IEnumerable<QLSV.Models.Diem>
@{
    ViewBag.Title = "sv_Diem_Index";
    Layout = "~/Views/Shared/SV_Layout.cshtml";
}
<link href="~/Content/using.css" rel="stylesheet">
<style>
    .fi {
        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
        box-sizing: border-box;
        color: black;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        padding: 14px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .timkhoa {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tim-1 {
        margin: 0 10px;
        width: 30%;
    }

    .text-end {
        display: flex;
        align-items: center;
    }

    .form-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .nutbam {
        margin: 0 10px;
    }

    .new {
        display: flex;
        align-items: center;
    }

    .antuong-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .text-end-1 .thep {
        margin: 0 10px;
    }

    .thep p {
        position: relative;
    }

    .nutbam--1 {
        background-color: #37497e;
    }

    .xuatfile {
        border-radius: 10px;
        background-color: #fff;
        padding: 10px 16px;
        text-align: center;
        box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        justify-content: center;
    }

    .header-content {
        display: flex;
        align-items: center;
    }

    .nut-xuat-file {
        float: right;
    }

    .rounded-circle {
        width: 30px;
        height: 30px;
        background: #7fee1d;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
    }

    select {
        border: none;
        outline: none;
        background-color: transparent;
        list-style: none;
        text-align: center;
        font-family: Cambria;
        font-weight: bold;
        color: aliceblue;
    }

    option {
        color: black;
    }
</style>
<div class="card">
    <div class="card-header mb-3">

        <div class="form-wrapper">
            <div class="header-content">
                <strong style="font-size:30px;" class="text-uppercase">Điểm sinh viên</strong>
            </div>
        </div>
    </div>
        <div class="card-body p-3">
            <table class="table table-bordered table-hover" id="result">
                <thead>
                    <tr>
                        <th class="text-center">Mã sinh viên</th>
                        <th class="text-center">Họ đệm</th>
                        <th class="text-center">Tên sinh viên</th>
                        <th class="text-center">Tên môn học</th>
                        <th class="text-center">Năm học</th>
                        <th class="text-center">Học kỳ</th>
                        <th class="text-center">Chuyên cần</th>
                        <th class="text-center">Giữa kỳ</th>
                        <th class="text-center">Cuối kỳ</th>
                        <th class="text-center">ĐTB</th>
                        <th class="text-center">Điểm chữ</th>
                        <th class="text-center">Kết quả</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="@item.Id">
                            <td>@item.SinhVien.MaSV</td>
                            <td>@item.SinhVien.HoDemSV</td>
                            <td>@item.SinhVien.TenSV</td>
                            <td>@item.MonHoc.TenMH</td>
                            <td>@item.NamHoc</td>
                            <td>@item.HocKy</td>
                            <td>@item.DiemCC</td>
                            <td>@item.DiemGK</td>
                            <td>@item.DiemCK</td>
                            <td>@item.DTB</td>
                            <td>@item.DiemChu</td>
                            <td><img class="rounded-circle" src="~/Content/IMG/@item.KetQua" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

